[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 13.0
[submodule "urbvan"]
	path = urbvan
	url = git@git.vauxoo.com:vauxoo/urbvan.git
	branch = 13.0
[submodule "xunnel-account"]
	path = xunnel-account
	url = git@git.vauxoo.com:Vauxoo/xunnel-account.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:Vauxoo/vendor-bills.git
	branch = 13.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:Vauxoo/mexico.git
	branch = 13.0
